All data from http://insideairbnb.com/get-the-data.html as of Sep 22 2019

In [26]:
import pandas as pd

In [5]:
reviews = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/reviews.csv')
reviews.shape

(358268, 6)

In [6]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3344,2185,2009-05-09,12016,Tony,The stay at Amos' condo greatly exceeded my ex...
1,3344,18774,2009-11-29,40724,Faris,"What can I say? AJ picked me up from Dulles, ..."
2,3344,20550,2009-12-16,58506,Sean,Amos is a phenomenal host. Where to start? Fir...
3,3344,293978,2011-06-01,583926,Yewwee,Aj is a great and friendly host! Excellent loc...
4,3344,296775,2011-06-04,503189,Jonathan,"As a first-time airbnb.com user, I am glad Amo..."

Corresponds to listing id - are there any listings that have never gotten reviews? Or listings that only got bad reviews?

What can be analyzed about the actual review content? Classify certain words as positive? or negative?

Should reviewer name be removed and just use the id?

In [10]:
reviews[reviews['date'] == '2019-09-22']

,listing_id,id,date,reviewer_id,reviewer_name,comments
6664,223922,534301264,2019-09-22,286508382,Kierrha,Natasha was very kind and welcoming. The locat...
6716,262629,534389351,2019-09-22,27311645,Tsitsi,Hellen was an exceptional host. She was nice a...
24339,1245292,534398015,2019-09-22,155838693,Kristi,I enjoyed my stay so much! This family goes th...
53275,3729418,534326069,2019-09-22,41107304,Joshua,"Had a fantastic, stress-free stay in Sally’s b..."
75242,5495901,534414090,2019-09-22,6030437,Heidi,What a treat! Convenient location on Capitol H...
...,...,...,...,...,...,...
358028,37676860,534611186,2019-09-22,13781772,(Email hidden by Airbnb),The host canceled this reservation 18 days bef...
358114,37841043,534322275,2019-09-22,21978461,Liz,This is a great space and was perfect for my d...
358117,37841107,534362566,2019-09-22,130834330,Joe,A lovely experience. Glenn’s apartment is very...
358248,38409709,534367786,2019-09-22,206960670,Romond,Had to cut my visit short but the place was cl...
358266,38721867,534214466,2019-09-22,68112602,LaFayette,Thanks for the hospitality! Never had someone ...

In [7]:
reviews['date'].sort_values()

368       2009-01-21
411       2009-01-21
11        2009-01-21
412       2009-01-22
413       2009-03-26
             ...
354569    2019-09-22
358028    2019-09-22
355995    2019-09-22
247848    2019-09-22
291733    2019-09-22
Name: date, Length: 358268, dtype: object

Reviews go back to 2009 (which may be around the time that AirBnB started listing places)

In [11]:
listings = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/listings.csv')
listings.shape

(9189, 16)

In [12]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3344,"White House/Center City, 1 roommate",4957,A.J.,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.90126,-77.02857,Private room,58,90,11,2016-08-31,0.09,2,358
1,3362,"Convention Center Rowhouse & In Law: 2 Units, 4BR",2798,Ayeh,NaN,"Shaw, Logan Circle",38.91046,-77.01933,Entire home/apt,433,2,171,2019-08-26,1.32,5,307
2,3662,Vita's Hideaway II,4645,Vita,NaN,Historic Anacostia,38.86193,-76.98963,Private room,65,2,36,2019-04-14,0.35,3,296
3,3670,Beautiful Sun-Lit U Street 1BR/1BA,4630,Sheila,NaN,"Howard University, Le Droit Park, Cardozo/Shaw",38.91842,-77.02750,Private room,75,2,79,2018-07-25,1.44,1,361
4,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86314,-76.98836,Private room,55,2,71,2019-08-05,0.66,3,283

do the neighbourhood values in listings line up to the 39 available in hoods df?

should host name be removed? their names are referenced in reviews

room type is categorical - only 4 options. use this for some type of classification?

manually calculate reviews per month. does this match what that column shows??

type since last review - does this relate to anything?

In [ ]:
listings.isnull().sum()

In [ ]:
# all of the neighborhood groups are missing
listings.drop('neighbourhood_group', axis=1, inplace=True)

the name of the reviews normally has some location information in it - does this correspond to their actual location?

What is the average price per neighborhood?

In [ ]:
listings['last_review'].sort_values()

some listings haven't been reviewed in many years. were they bad reviews?

In [13]:
hoods = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/neighbourhoods.csv')
hoods.shape

(39, 2)

In [14]:
hoods.isnull().sum()

neighbourhood_group    39
neighbourhood           0
dtype: int64

The neighbourhood group is all missing so removing.

In [ ]:
hoods.drop('neighbourhood_group', axis=1, inplace=True)

In [27]:
calendar = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar.csv')
calendar.shape

(3354070, 7)

In [16]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0
1,3344,2019-09-23,f,$58.00,$58.00,90.0,720.0
2,3344,2019-09-24,f,$58.00,$58.00,90.0,720.0
3,3344,2019-09-25,f,$58.00,$58.00,90.0,720.0
4,3344,2019-09-26,f,$58.00,$58.00,90.0,720.0

In [28]:
calendar.dtypes

listing_id          int64
date               object
available          object
price              object
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [32]:
calendar['price'] = calendar['price'].str.replace('$', '')

In [36]:
calendar['price'] = calendar['price'].str.replace(',', '')

In [39]:
calendar['price'] = pd.to_numeric(calendar['price'])

In [40]:
calendar.dtypes

listing_id          int64
date               object
available          object
price             float64
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [41]:
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace('$', '')

In [42]:
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace(',', '')

In [43]:
calendar['adjusted_price'] = pd.to_numeric(calendar['adjusted_price'])

In [44]:
calendar['price_diff'] = calendar['price'] - calendar['adjusted_price']

In [46]:
calendar['price_diff'].value_counts()

 0.0     3326260
 2.0        4707
 1.0        2795
 5.0        1846
 9.0        1771
          ...
-12.0          1
 53.0          1
-33.0          1
-8.0           1
 46.0          1
Name: price_diff, Length: 101, dtype: int64

In [20]:
calendar['available'].value_counts()

f    2178644
t    1175426
Name: available, dtype: int64

In [19]:
calendar[calendar['listing_id'] == 3344]['date'].value_counts()

2020-03-23    1
2020-01-02    1
2020-04-12    1
2020-09-19    1
2020-07-25    1
             ..
2019-10-26    1
2020-03-12    1
2020-05-16    1
2020-07-20    1
2019-11-16    1
Name: date, Length: 365, dtype: int64

In [17]:
calendar['listing_id'].groupby(by='price')

KeyError: 'price'

Unsupervised learning problem: analyzing factors that contribute to good reviews and predict on a new dataset? (should be oct and nov data by time of capstone) 

try to predict price changes?

Does high availability of a listing have a relationship with anything? (review sentiment, number of reviews, price per night, neighbourhood, host?)

look at how price has changed over time

try to predict price change based on review sentiment

may or may not use time series to correlate data over time

if you find that the calendar data set was collected awhile ago, probably could account for seasonality or change over time

look at how older events affected the price and see if you can predict how newer events will affect price (model)