In [2]:
import pandas as pd

In [3]:
# Read in calendar data
calendar = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar_9_19.csv')
# Look at shape of calendar data
calendar.shape

(3354070, 7)

In [4]:
# Look at calendar data
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0
1,3344,2019-09-23,f,$58.00,$58.00,90.0,720.0
2,3344,2019-09-24,f,$58.00,$58.00,90.0,720.0
3,3344,2019-09-25,f,$58.00,$58.00,90.0,720.0
4,3344,2019-09-26,f,$58.00,$58.00,90.0,720.0

In [29]:
# Look at describe stats
calendar.describe()

,listing_id,price,adjusted_price,minimum_nights,maximum_nights,price_diff
count,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06
mean,1.980632e+07,1.903516e+02,1.902596e+02,5.872331e+00,2.463027e+05,9.201895e-02
std,1.049269e+07,2.993762e+02,2.993233e+02,2.181613e+01,2.242535e+07,2.848840e+00
min,3.344000e+03,1.000000e+01,1.000000e+01,0.000000e+00,0.000000e+00,-4.300000e+02
25%,1.251382e+07,7.600000e+01,7.600000e+01,1.000000e+00,3.000000e+01,0.000000e+00
50%,1.876655e+07,1.150000e+02,1.150000e+02,2.000000e+00,1.120000e+03,0.000000e+00
75%,2.854158e+07,1.950000e+02,1.950000e+02,3.000000e+00,1.125000e+03,0.000000e+00
max,3.881766e+07,1.000000e+04,1.000000e+04,9.990000e+02,2.147484e+09,1.500000e+02

In [31]:
# Look at info stats
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3354070 entries, 0 to 3354069
Data columns (total 8 columns):
listing_id        int64
date              object
available         object
price             float64
adjusted_price    float64
minimum_nights    float64
maximum_nights    float64
price_diff        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 204.7+ MB

In [6]:
# Check for null values
calendar.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    3
maximum_nights    3
dtype: int64

In [32]:
# Very small amount of data missing, check out individually to see if it's for the same 3 rows. 
calendar[calendar['maximum_nights'].isnull()]

Empty DataFrame
Columns: [listing_id, date, available, price, adjusted_price, minimum_nights, maximum_nights, price_diff]
Index: []

In [12]:
# fill nans with 0s
calendar['minimum_nights'].fillna(0, inplace=True)

In [15]:
# fill nans with 0s
calendar['maximum_nights'].fillna(0, inplace=True)

In [16]:
# Check data types
calendar.dtypes

listing_id          int64
date               object
available          object
price              object
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [17]:
# Sort on date column
calendar.sort_values(by='date', ascending=False)
# this data was pulled on 9/22/19 so only represents future listings at time of data being pulled

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
2014161,22201266,2020-10-09,f,$107.00,$107.00,2.0,7.0
2014160,22201266,2020-10-08,f,$106.00,$106.00,2.0,7.0
2014159,22201266,2020-10-07,f,$106.00,$106.00,2.0,7.0
2014158,22201266,2020-10-06,f,$106.00,$106.00,2.0,7.0
2014157,22201266,2020-10-05,f,$106.00,$106.00,2.0,7.0
...,...,...,...,...,...,...,...
664825,9750676,2019-09-22,f,$350.00,$350.00,1.0,7.0
3000794,34888096,2019-09-22,t,$111.00,$111.00,30.0,1125.0
2799665,32353389,2019-09-22,f,$24.00,$24.00,1.0,14.0
1431341,16671355,2019-09-22,t,$199.00,$199.00,2.0,1125.0
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0

In [ ]:
# This only represents future data so won't be able to build time series off of just this.

In [18]:
# Strip dollar signs from price column
calendar['price'] = calendar['price'].str.replace('$', '')

In [19]:
# Strip commas from price column
calendar['price'] = calendar['price'].str.replace(',', '')

In [20]:
# Convert price column to numeric
calendar['price'] = pd.to_numeric(calendar['price'])

In [34]:
# Check that data type has changed
calendar.dtypes

listing_id                 int64
date              datetime64[ns]
available                 object
price                    float64
adjusted_price           float64
minimum_nights           float64
maximum_nights           float64
price_diff               float64
dtype: object

In [33]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [22]:
# Strip dollar signs from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace('$', '')

In [23]:
# Strip commas from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace(',', '')

In [24]:
# Convert price column to numeric
calendar['adjusted_price'] = pd.to_numeric(calendar['adjusted_price'])

In [25]:
# Calculate price difference between price and adjusted price, put in a new column
calendar['price_diff'] = calendar['price'] - calendar['adjusted_price']

In [26]:
# Look at how big/small the price difference might be
calendar['price_diff'].value_counts()

 0.0     3326260
 2.0        4707
 1.0        2795
 5.0        1846
 9.0        1771
          ...
-12.0          1
 53.0          1
-33.0          1
-8.0           1
 46.0          1
Name: price_diff, Length: 101, dtype: int64

Not sure what the difference in price is representing (why there is an adjusted price?). Might be that the price listed in this csv changed between instances of the InsideAirBnB team pulling this data (they pull on semi regular basis)

In [27]:
# Check the possible values for the available column
calendar['available'].value_counts()

f    2178644
t    1175426
Name: available, dtype: int64

In [ ]:
# The values t and f might stand for true and false. I will have to look into this with more EDA to get a better 
# idea of this or will just not use this data feature.

In [35]:
# seeing how many times one listing shows up in this dataset. 
calendar[calendar['listing_id'] == 3344]['date'].value_counts()

2020-03-13    1
2020-06-30    1
2020-04-29    1
2020-03-29    1
2020-02-27    1
             ..
2020-05-29    1
2020-04-28    1
2020-03-28    1
2020-02-26    1
2020-02-11    1
Name: date, Length: 365, dtype: int64

In [37]:
calendar.set_index('date', inplace=True)

In [39]:
calendar.sort_index(inplace=True)

In [41]:
calendar['source'] = 'Sep-19'
calendar.head()

,listing_id,available,price,adjusted_price,minimum_nights,maximum_nights,price_diff,source
date,,,,,,,,
2019-09-22,3344,f,58.0,58.0,90.0,720.0,0.0,Sep-19
2019-09-22,26133778,f,60.0,60.0,2.0,1124.0,0.0,Sep-19
2019-09-22,35412148,t,100.0,100.0,1.0,1125.0,0.0,Sep-19
2019-09-22,12423375,f,92.0,92.0,3.0,30.0,0.0,Sep-19
2019-09-22,4634946,t,70.0,70.0,1.0,7.0,0.0,Sep-19

In [48]:
# trying to sort listing_id and price, but currently getting an error
# this shows average price per listing
calendar[['price']].groupby(by=calendar['listing_id']).mean().sort_values('price')

                   price
listing_id
16531993       10.000000
27542740       16.145205
34779036       16.331507
34779592       16.854795
28384313       16.904110
...                  ...
16661573     5000.000000
16769736     5000.000000
16634189     5220.830137
14507861     5995.000000
15054700    10000.000000

[9189 rows x 1 columns]