# EDA: Calendar

This notebooked is intended to conduct exploratory data analysis on the calendar.csv files.

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import os

%matplotlib inline

In [23]:
os.listdir('/Users/jessieowens2/Desktop/general_assembly/airbnb_data')
# list comprehension: all the files I want start with calendar
# from above list, give me every file name that starts with calendar, then with that list, pass into pd.concat
# and then use dataframe.duplicated(subset of id and date (these are the things duplicated throughout))

# if this is not working, use sep 2019, sep 2018, sep 2017

['calendar_12_18.csv',
 'listings_validate.csv',
 'calendar_8_19.csv',
 'calendar_4_19.csv',
 'reviews.csv',
 'calendar_6_19.csv',
 '.DS_Store',
 'calendar_10_18.csv',
 'neighbourhoods.geojson',
 'calendar_2_19.csv',
 'neighbourhoods.csv',
 'listings.csv',
 'calendar_9_19.csv',
 'calendar_5_19.csv',
 'airbnb_data.zip',
 'listings_test.csv',
 'listings_train.csv',
 'calendar_11_18.csv',
 'calendar_7_19.csv',
 'calendar_3_19.csv',
 'calendar_1_19.csv']

In [3]:
# Read in calendar data
calendar_9_19 = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar_9_19.csv')
# Look at shape of calendar data
calendar_9_19.shape

(3354070, 7)

In [4]:
# Look at calendar data
calendar_9_19.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
3354065,38478357,2020-09-16,f,$87.00,$87.00,2.0,1125.0
3354066,38478357,2020-09-17,f,$87.00,$87.00,2.0,1125.0
3354067,38478357,2020-09-18,f,$87.00,$87.00,2.0,1125.0
3354068,38478357,2020-09-19,f,$87.00,$87.00,2.0,1125.0
3354069,38478357,2020-09-20,f,$87.00,$87.00,2.0,1125.0

In [ ]:
calendar.sort_values(by='date', ascending=False)

In [ ]:
calendar['available'].value_counts()

In [5]:
calendar_9_19[(calendar_9_19['date'] == '2019-09-22') & (calendar_9_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1490,3362,2019-09-22,f,$269.00,$269.00,2.0,365.0

In [8]:
calendar_1_19[(calendar_1_19['date'] == '2019-09-22') & (calendar_1_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1002,3362,2019-09-22,t,$433.00,$433.00,2.0,365.0

In [7]:
calendar_9_19[(calendar_9_19['date'] == '2019-11-22') & (calendar_9_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1886,3362,2019-11-22,t,$348.00,$348.00,2.0,365.0

In [8]:
calendar_1_19[(calendar_1_19['date'] == '2019-11-22') & (calendar_1_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1403,3362,2019-11-22,t,$450.00,$450.00,2.0,365.0

In [19]:
calendar_9_19['listing_id'].value_counts()

9216776     366
25376900    366
14732181    366
25114096    366
19055659    366
           ...
29231759    365
7742346     365
8402248     365
5593060     365
25620702    365
Name: listing_id, Length: 9189, dtype: int64

In [20]:
calendar_9_19[(calendar_9_19['date'] == '2019-12-30') & (calendar_9_19['listing_id'] == 9216776)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
631783,9216776,2019-12-30,t,$119.00,$119.00,4.0,45.0

In [21]:
calendar_1_19[(calendar_1_19['date'] == '2019-12-30') & (calendar_1_19['listing_id'] == 9216776)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
728327,9216776,2019-12-30,f,$399.00,$399.00,5.0,45.0

In [6]:
# Read in calendar data
calendar_1_19 = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar_1_19.csv')
# Look at shape of calendar data
calendar_1_19.shape

(3283305, 7)

In [9]:
calendar_1_19.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3362,2019-01-17,t,$295.00,$295.00,2.0,365.0
1,3362,2019-01-18,f,$450.00,$450.00,2.0,365.0
2,3362,2019-01-19,f,$450.00,$450.00,2.0,365.0
3,3362,2019-01-20,t,$229.00,$229.00,2.0,365.0
4,3362,2019-01-21,t,$229.00,$229.00,2.0,365.0

In [12]:
calendar_1_19.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,recorded_price_date
3283300,31558768,2020-01-13,f,$133.00,$133.00,1.0,1125.0,2019-01
3283301,31558768,2020-01-14,f,$133.00,$133.00,1.0,1125.0,2019-01
3283302,31558768,2020-01-15,f,$133.00,$133.00,1.0,1125.0,2019-01
3283303,31558768,2020-01-16,f,$133.00,$133.00,1.0,1125.0,2019-01
3283304,31558768,2020-01-17,f,$133.00,$133.00,1.0,1125.0,2019-01

In [11]:
calendar_1_19['recorded_price_date'] = '2019-01'

In [13]:
calendar_9_19['recorded_price_date'] = '2019-09'

In [15]:
calendar = pd.concat([calendar_1_19, calendar_9_19])

In [16]:
calendar.shape

(6637375, 8)

In [20]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [23]:
calendar_1_19['date'] = pd.to_datetime(calendar_1_19['date'])

In [29]:
plt.figure(figsize=(16, 14))
# need to split up by listing id? or how

plt.plot(calendar_1_19['price'], calendar_1_19['date'])

# plt.plot(y_test.index, y_test.values, color = 'orange')
plt.rcParams['agg.path.chunksize'] = 10_000_000

Error in callback <function install_repl_displayhook.<locals>.post_execute at 0x11e09a268> (for post_execute):

OverflowError: Exceeded cell block limit (set 'agg.path.chunksize' rcparam)

OverflowError: Exceeded cell block limit (set 'agg.path.chunksize' rcparam)

In [19]:
calendar.dtypes

listing_id               int64
date                    object
available               object
price                   object
adjusted_price          object
minimum_nights         float64
maximum_nights         float64
recorded_price_date     object
dtype: object

In [ ]:
https://towardsdatascience.com/exploring-machine-learning-for-airbnb-listings-in-toronto-efdbdeba2644

In [ ]:
# Look at how price has changed over time

In [ ]:
# availability over a year. (using availability and dates for calendar)
# line graph of x of date and y of percentage of units available
# could just use months for x and then color code line for each year

In [ ]:
# average monthly price according to date

In [ ]:
# average price on each day of the week

In [29]:
# Look at describe stats
calendar.describe()

,listing_id,price,adjusted_price,minimum_nights,maximum_nights,price_diff
count,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06,3.354070e+06
mean,1.980632e+07,1.903516e+02,1.902596e+02,5.872331e+00,2.463027e+05,9.201895e-02
std,1.049269e+07,2.993762e+02,2.993233e+02,2.181613e+01,2.242535e+07,2.848840e+00
min,3.344000e+03,1.000000e+01,1.000000e+01,0.000000e+00,0.000000e+00,-4.300000e+02
25%,1.251382e+07,7.600000e+01,7.600000e+01,1.000000e+00,3.000000e+01,0.000000e+00
50%,1.876655e+07,1.150000e+02,1.150000e+02,2.000000e+00,1.120000e+03,0.000000e+00
75%,2.854158e+07,1.950000e+02,1.950000e+02,3.000000e+00,1.125000e+03,0.000000e+00
max,3.881766e+07,1.000000e+04,1.000000e+04,9.990000e+02,2.147484e+09,1.500000e+02

In [31]:
# Look at info stats
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3354070 entries, 0 to 3354069
Data columns (total 8 columns):
listing_id        int64
date              object
available         object
price             float64
adjusted_price    float64
minimum_nights    float64
maximum_nights    float64
price_diff        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 204.7+ MB

In [6]:
# Check for null values
calendar.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    3
maximum_nights    3
dtype: int64

In [32]:
# Very small amount of data missing, check out individually to see if it's for the same 3 rows. 
calendar[calendar['maximum_nights'].isnull()]

Empty DataFrame
Columns: [listing_id, date, available, price, adjusted_price, minimum_nights, maximum_nights, price_diff]
Index: []

In [12]:
# fill nans with 0s
calendar['minimum_nights'].fillna(0, inplace=True)

In [15]:
# fill nans with 0s
calendar['maximum_nights'].fillna(0, inplace=True)

In [16]:
# Check data types
calendar.dtypes

listing_id          int64
date               object
available          object
price              object
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [17]:
# Sort on date column
calendar.sort_values(by='date', ascending=False)
# this data was pulled on 9/22/19 so only represents future listings at time of data being pulled

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
2014161,22201266,2020-10-09,f,$107.00,$107.00,2.0,7.0
2014160,22201266,2020-10-08,f,$106.00,$106.00,2.0,7.0
2014159,22201266,2020-10-07,f,$106.00,$106.00,2.0,7.0
2014158,22201266,2020-10-06,f,$106.00,$106.00,2.0,7.0
2014157,22201266,2020-10-05,f,$106.00,$106.00,2.0,7.0
...,...,...,...,...,...,...,...
664825,9750676,2019-09-22,f,$350.00,$350.00,1.0,7.0
3000794,34888096,2019-09-22,t,$111.00,$111.00,30.0,1125.0
2799665,32353389,2019-09-22,f,$24.00,$24.00,1.0,14.0
1431341,16671355,2019-09-22,t,$199.00,$199.00,2.0,1125.0
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0

In [ ]:
# This only represents future data so won't be able to build time series off of just this.

In [18]:
# Strip dollar signs from price column
calendar['price'] = calendar['price'].str.replace('$', '')

In [19]:
# Strip commas from price column
calendar['price'] = calendar['price'].str.replace(',', '')

In [20]:
# Convert price column to numeric
calendar['price'] = pd.to_numeric(calendar['price'])

In [34]:
# Check that data type has changed
calendar.dtypes

listing_id                 int64
date              datetime64[ns]
available                 object
price                    float64
adjusted_price           float64
minimum_nights           float64
maximum_nights           float64
price_diff               float64
dtype: object

In [33]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [22]:
# Strip dollar signs from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace('$', '')

In [23]:
# Strip commas from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace(',', '')

In [24]:
# Convert price column to numeric
calendar['adjusted_price'] = pd.to_numeric(calendar['adjusted_price'])

In [25]:
# Calculate price difference between price and adjusted price, put in a new column
calendar['price_diff'] = calendar['price'] - calendar['adjusted_price']

In [26]:
# Look at how big/small the price difference might be
calendar['price_diff'].value_counts()

 0.0     3326260
 2.0        4707
 1.0        2795
 5.0        1846
 9.0        1771
          ...
-12.0          1
 53.0          1
-33.0          1
-8.0           1
 46.0          1
Name: price_diff, Length: 101, dtype: int64

Not sure what the difference in price is representing (why there is an adjusted price?). Might be that the price listed in this csv changed between instances of the InsideAirBnB team pulling this data (they pull on semi regular basis)

In [27]:
# Check the possible values for the available column
calendar['available'].value_counts()

f    2178644
t    1175426
Name: available, dtype: int64

In [ ]:
# The values t and f might stand for true and false. I will have to look into this with more EDA to get a better 
# idea of this or will just not use this data feature.

In [35]:
# seeing how many times one listing shows up in this dataset. 
calendar[calendar['listing_id'] == 3344]['date'].value_counts()

2020-03-13    1
2020-06-30    1
2020-04-29    1
2020-03-29    1
2020-02-27    1
             ..
2020-05-29    1
2020-04-28    1
2020-03-28    1
2020-02-26    1
2020-02-11    1
Name: date, Length: 365, dtype: int64

In [37]:
calendar.set_index('date', inplace=True)

In [39]:
calendar.sort_index(inplace=True)

In [41]:
calendar['source'] = 'Sep-19'
calendar.head()

,listing_id,available,price,adjusted_price,minimum_nights,maximum_nights,price_diff,source
date,,,,,,,,
2019-09-22,3344,f,58.0,58.0,90.0,720.0,0.0,Sep-19
2019-09-22,26133778,f,60.0,60.0,2.0,1124.0,0.0,Sep-19
2019-09-22,35412148,t,100.0,100.0,1.0,1125.0,0.0,Sep-19
2019-09-22,12423375,f,92.0,92.0,3.0,30.0,0.0,Sep-19
2019-09-22,4634946,t,70.0,70.0,1.0,7.0,0.0,Sep-19

In [48]:
# trying to sort listing_id and price, but currently getting an error
# this shows average price per listing
calendar[['price']].groupby(by=calendar['listing_id']).mean().sort_values('price')

                   price
listing_id
16531993       10.000000
27542740       16.145205
34779036       16.331507
34779592       16.854795
28384313       16.904110
...                  ...
16661573     5000.000000
16769736     5000.000000
16634189     5220.830137
14507861     5995.000000
15054700    10000.000000

[9189 rows x 1 columns]