# EDA: Neighbourhoods

This notebooke is intended to conduct exploratory data analysis on the neighbourhoods.csv file.

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read in neighbourhood data
hoods = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/neighbourhoods.csv')
# Check shape of hood data
hoods.shape

(39, 2)

In [3]:
# Look at data
hoods.head()

   neighbourhood_group                                    neighbourhood
0                  NaN             Brightwood Park, Crestwood, Petworth
1                  NaN                    Brookland, Brentwood, Langdon
2                  NaN                       Capitol Hill, Lincoln Park
3                  NaN  Capitol View, Marshall Heights, Benning Heights
4                  NaN   Cathedral Heights, McLean Gardens, Glover Park

In [4]:
# Look at info stats
hoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
neighbourhood_group    0 non-null float64
neighbourhood          39 non-null object
dtypes: float64(1), object(1)
memory usage: 752.0+ bytes

In [5]:
# Check for null values
hoods.isnull().sum()

neighbourhood_group    39
neighbourhood           0
dtype: int64

The neighbourhood group is all missing so removing.

In [6]:
# drop column since all of data is missing
hoods.drop('neighbourhood_group', axis=1, inplace=True)

---