# Data Dictionary

This notebooked is intended to simply view the data, data features, and data types to aid in creating a data dictionary.

In [1]:
import pandas as pd

### reviews.csv

In [2]:
reviews = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/reviews.csv')

In [3]:
reviews.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [4]:
reviews.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [16]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3344,2185,2009-05-09,12016,Tony,The stay at Amos' condo greatly exceeded my ex...
1,3344,18774,2009-11-29,40724,Faris,"What can I say? AJ picked me up from Dulles, ..."
2,3344,20550,2009-12-16,58506,Sean,Amos is a phenomenal host. Where to start? Fir...
3,3344,293978,2011-06-01,583926,Yewwee,Aj is a great and friendly host! Excellent loc...
4,3344,296775,2011-06-04,503189,Jonathan,"As a first-time airbnb.com user, I am glad Amo..."

### listings.csv

In [5]:
listings = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/listings.csv')

In [6]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [7]:
listings.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [8]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3344,"White House/Center City, 1 roommate",4957,A.J.,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.90126,-77.02857,Private room,58,90,11,2016-08-31,0.09,2,358
1,3362,"Convention Center Rowhouse & In Law: 2 Units, 4BR",2798,Ayeh,NaN,"Shaw, Logan Circle",38.91046,-77.01933,Entire home/apt,433,2,171,2019-08-26,1.32,5,307
2,3662,Vita's Hideaway II,4645,Vita,NaN,Historic Anacostia,38.86193,-76.98963,Private room,65,2,36,2019-04-14,0.35,3,296
3,3670,Beautiful Sun-Lit U Street 1BR/1BA,4630,Sheila,NaN,"Howard University, Le Droit Park, Cardozo/Shaw",38.91842,-77.02750,Private room,75,2,79,2018-07-25,1.44,1,361
4,3686,Vita's Hideaway,4645,Vita,NaN,Historic Anacostia,38.86314,-76.98836,Private room,55,2,71,2019-08-05,0.66,3,283

In [26]:
listings['availability_365'].value_counts()

0      2758
365     231
90      119
364      86
89       85
       ...
191       1
198       1
200       1
199       1
195       1
Name: availability_365, Length: 366, dtype: int64

### neighbourhoods.csv

In [10]:
neighbourhoods = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/neighbourhoods.csv')

In [11]:
neighbourhoods.columns

Index(['neighbourhood_group', 'neighbourhood'], dtype='object')

In [12]:
neighbourhoods.dtypes

neighbourhood_group    float64
neighbourhood           object
dtype: object

### calendar.csv

In [13]:
calendar = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar.csv')

In [14]:
calendar.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [15]:
calendar.dtypes

listing_id          int64
date               object
available          object
price              object
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [21]:
calendar.sort_values(by='date', ascending=False)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
2014161,22201266,2020-10-09,f,$107.00,$107.00,2.0,7.0
2014160,22201266,2020-10-08,f,$106.00,$106.00,2.0,7.0
2014159,22201266,2020-10-07,f,$106.00,$106.00,2.0,7.0
2014158,22201266,2020-10-06,f,$106.00,$106.00,2.0,7.0
2014157,22201266,2020-10-05,f,$106.00,$106.00,2.0,7.0
...,...,...,...,...,...,...,...
664825,9750676,2019-09-22,f,$350.00,$350.00,1.0,7.0
3000794,34888096,2019-09-22,t,$111.00,$111.00,30.0,1125.0
2799665,32353389,2019-09-22,f,$24.00,$24.00,1.0,14.0
1431341,16671355,2019-09-22,t,$199.00,$199.00,2.0,1125.0
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0

In [27]:
calendar['available'].value_counts()

f    2178644
t    1175426
Name: available, dtype: int64

### Data Dictionary

| File | Variable Name | Data Type | Description |
| --- | --- | --- | --- |
| reviews | listing_id | integer | corresponds to the unique id of the listing in the listings dataset |
| reviews | id | integer | unique id of the review |
| reviews | date | object | date the review was given |
| reviews | reviewer_id | integer | unique id of the reviewer |
| reviews | reviewer_name | object | username of the reviewer | 
| reviews | comments | object | comments left by reviewer |
| listings | id | integer | unique id for the listing |
| listings | name | object | name of the listing |
| listings | host_id | integer | unique id of the host |
| listings | host_name | object | username of the host |
| listings | neighbourhood_group | float | group a neighborhood is associated with (all values are missing) |
| listings | neighbourhood | object | D.C. neighbourhood in which the listing is located |
| listings | latitude | float | latitude of location of listing |
| listings | longitude | float | longitude of location of listing |
| listings | room_type | object | four possible room types:<br>-entire home/apt<br>-private room<br>-shared room<br>-hotel room |
| listings | price | integer | price per night for listing at time data was pulled |
| listings | minimum_nights | integer | Minimum number of nights a booking must be for the given listing (set by the host) |
| listings | number_of_reviews | integer | total number of reviews left for listing |
| listings | last_review | object | date of last review left |
| listings | reviews_per_month | float | number of reviews left per month (average) |
| listings | calculated_host_listings_count | integer | number of listings under host id |
| listings | availability_365 | integer | number of days listing is available for rent in 365 day span |
| calendar | listing_id | integer | corresponds to the unique id of the listing in the listings dataset |
| calendar | date | object | future date (based on time data was pulled) that given listing is available for rent |
| calendar | available | object | possible values of 'f' and 't' but not able to determine what these stand for |
| calendar | price | object | price per night (at time data was pulled) of listing for date provided |
| calendar | adjusted_price | object | an adjustment of price per night, but not yet able to determine how it was adjusted |
| calendar | minimum_nights | float | minimum number of nights listing is available to be booked for (based on availability and minimum number of nights required) |
| calendar | maximum_nights | float | maximum number of nights listing is available to be booked for (based on availability and minimum number of nights required) |
| neighbourhoods | neighbourhood_group | float | group a neighborhood is associated with (all values are missing) |
| neighbourhoods | neighbourhood | object | D.C. neighbourhood |