# EDA: Calendar

This notebooked is intended to conduct exploratory data analysis on the calendar.csv files.

---

## Import Libraries & Read in Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

%matplotlib inline

In [2]:
# Read in primary calendar data (collected september 2019)
calendar = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar_9_19.csv')
# Look at shape of calendar data
calendar.shape

(3354070, 7)

In [3]:
# Read in calendar data
calendar_1_19 = pd.read_csv('/Users/jessieowens2/Desktop/general_assembly/airbnb_data/calendar_1_19.csv')
# Look at shape of calendar data
calendar_1_19.shape

(3283305, 7)

---

## Summary Stats

In [4]:
# Look at calendar data
calendar.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
3354065,38478357,2020-09-16,f,$87.00,$87.00,2.0,1125.0
3354066,38478357,2020-09-17,f,$87.00,$87.00,2.0,1125.0
3354067,38478357,2020-09-18,f,$87.00,$87.00,2.0,1125.0
3354068,38478357,2020-09-19,f,$87.00,$87.00,2.0,1125.0
3354069,38478357,2020-09-20,f,$87.00,$87.00,2.0,1125.0

In [5]:
calendar_1_19.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3362,2019-01-17,t,$295.00,$295.00,2.0,365.0
1,3362,2019-01-18,f,$450.00,$450.00,2.0,365.0
2,3362,2019-01-19,f,$450.00,$450.00,2.0,365.0
3,3362,2019-01-20,t,$229.00,$229.00,2.0,365.0
4,3362,2019-01-21,t,$229.00,$229.00,2.0,365.0

In [6]:
calendar_1_19.tail()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
3283300,31558768,2020-01-13,f,$133.00,$133.00,1.0,1125.0
3283301,31558768,2020-01-14,f,$133.00,$133.00,1.0,1125.0
3283302,31558768,2020-01-15,f,$133.00,$133.00,1.0,1125.0
3283303,31558768,2020-01-16,f,$133.00,$133.00,1.0,1125.0
3283304,31558768,2020-01-17,f,$133.00,$133.00,1.0,1125.0

---

## Exploring the Data

In [7]:
# sort by date
calendar.sort_values(by='date', ascending=False)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
2014161,22201266,2020-10-09,f,$107.00,$107.00,2.0,7.0
2014160,22201266,2020-10-08,f,$106.00,$106.00,2.0,7.0
2014159,22201266,2020-10-07,f,$106.00,$106.00,2.0,7.0
2014158,22201266,2020-10-06,f,$106.00,$106.00,2.0,7.0
2014157,22201266,2020-10-05,f,$106.00,$106.00,2.0,7.0
...,...,...,...,...,...,...,...
664825,9750676,2019-09-22,f,$350.00,$350.00,1.0,7.0
3000794,34888096,2019-09-22,t,$111.00,$111.00,30.0,1125.0
2799665,32353389,2019-09-22,f,$24.00,$24.00,1.0,14.0
1431341,16671355,2019-09-22,t,$199.00,$199.00,2.0,1125.0
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0

In [8]:
# what does available represent
calendar['available'].value_counts()
# The values t and f might stand for true and false. I will have to look into this with more EDA to get a better 
# idea of this or will just not use this data feature.

f    2178644
t    1175426
Name: available, dtype: int64

In [9]:
calendar['listing_id'].value_counts()

9216776     366
25376900    366
14732181    366
25114096    366
19055659    366
           ...
29231759    365
7742346     365
8402248     365
5593060     365
25620702    365
Name: listing_id, Length: 9189, dtype: int64

In [10]:
# trying to plot price vs data
# plt.figure(figsize=(16, 14))
# # need to split up by listing id? or how

# plt.plot(calendar_1_19['price'], calendar_1_19['date'])

# # plt.plot(y_test.index, y_test.values, color = 'orange')
# plt.rcParams['agg.path.chunksize'] = 10_000_000

In [11]:
# Check for null values
calendar.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    3
maximum_nights    3
dtype: int64

In [12]:
# Very small amount of data missing, check out individually to see if it's for the same 3 rows. 
calendar[calendar['maximum_nights'].isnull()]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
949837,14236545,2019-09-22,f,$60.00,$60.00,NaN,NaN
1346378,16528608,2019-09-22,f,$170.00,$170.00,NaN,NaN
2509476,28757369,2019-09-22,f,$72.00,$72.00,NaN,NaN

In [13]:
# fill nans with 0s
calendar['minimum_nights'].fillna(0, inplace=True)

In [14]:
# fill nans with 0s
calendar['maximum_nights'].fillna(0, inplace=True)

In [15]:
# Check data types
calendar.dtypes

listing_id          int64
date               object
available          object
price              object
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [16]:
# Sort on date column
calendar.sort_values(by='date', ascending=False)
# this data was pulled on 9/22/19 so only represents future listings at time of data being pulled
# This only represents future data so won't be able to build time series off of just this.

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
2014161,22201266,2020-10-09,f,$107.00,$107.00,2.0,7.0
2014160,22201266,2020-10-08,f,$106.00,$106.00,2.0,7.0
2014159,22201266,2020-10-07,f,$106.00,$106.00,2.0,7.0
2014158,22201266,2020-10-06,f,$106.00,$106.00,2.0,7.0
2014157,22201266,2020-10-05,f,$106.00,$106.00,2.0,7.0
...,...,...,...,...,...,...,...
664825,9750676,2019-09-22,f,$350.00,$350.00,1.0,7.0
3000794,34888096,2019-09-22,t,$111.00,$111.00,30.0,1125.0
2799665,32353389,2019-09-22,f,$24.00,$24.00,1.0,14.0
1431341,16671355,2019-09-22,t,$199.00,$199.00,2.0,1125.0
0,3344,2019-09-22,f,$58.00,$58.00,90.0,720.0

In [17]:
# Strip dollar signs from price column
calendar['price'] = calendar['price'].str.replace('$', '')

In [18]:
# Strip commas from price column
calendar['price'] = calendar['price'].str.replace(',', '')

In [19]:
# Convert price column to numeric
calendar['price'] = pd.to_numeric(calendar['price'])

In [20]:
# Check that data type has changed
calendar.dtypes

listing_id          int64
date               object
available          object
price             float64
adjusted_price     object
minimum_nights    float64
maximum_nights    float64
dtype: object

In [21]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [22]:
# Strip dollar signs from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace('$', '')

In [23]:
# Strip commas from adjusted price column
calendar['adjusted_price'] = calendar['adjusted_price'].str.replace(',', '')

In [24]:
# Convert price column to numeric
calendar['adjusted_price'] = pd.to_numeric(calendar['adjusted_price'])

In [25]:
# Calculate price difference between price and adjusted price, put in a new column
calendar['price_diff'] = calendar['price'] - calendar['adjusted_price']

In [26]:
# Look at how big/small the price difference might be
calendar['price_diff'].value_counts()
# Not sure what the difference in price is representing (why there is an adjusted price?). Might be that the price 
# listed in this csv changed between instances of the InsideAirBnB team pulling this data (they pull on semi regular 
# basis)

 0.0     3326260
 2.0        4707
 1.0        2795
 5.0        1846
 9.0        1771
          ...
-12.0          1
 53.0          1
-33.0          1
-8.0           1
 46.0          1
Name: price_diff, Length: 101, dtype: int64

In [27]:
# seeing how many times one listing shows up in this dataset. 
calendar[calendar['listing_id'] == 3344]['date'].value_counts()

2020-03-13    1
2020-06-30    1
2020-04-29    1
2020-03-29    1
2020-02-27    1
             ..
2020-05-29    1
2020-04-28    1
2020-03-28    1
2020-02-26    1
2020-02-11    1
Name: date, Length: 365, dtype: int64

In [28]:
# spot checking if different sets of calendar data have same prices
calendar[(calendar['date'] == '2019-09-22') & (calendar['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,price_diff
1490,3362,2019-09-22,f,269.0,269.0,2.0,365.0,0.0

In [29]:
calendar_1_19[(calendar_1_19['date'] == '2019-09-22') & (calendar_1_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1002,3362,2019-09-22,t,$433.00,$433.00,2.0,365.0

In [30]:
# spot checking again
calendar[(calendar['date'] == '2019-11-22') & (calendar['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,price_diff
1886,3362,2019-11-22,t,348.0,348.0,2.0,365.0,0.0

In [31]:
calendar_1_19[(calendar_1_19['date'] == '2019-11-22') & (calendar_1_19['listing_id'] == 3362)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
1403,3362,2019-11-22,t,$450.00,$450.00,2.0,365.0

In [32]:
# spot checking
calendar[(calendar['date'] == '2019-12-30') & (calendar['listing_id'] == 9216776)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,price_diff
631783,9216776,2019-12-30,t,119.0,119.0,4.0,45.0,0.0

In [33]:
calendar_1_19[(calendar_1_19['date'] == '2019-12-30') & (calendar_1_19['listing_id'] == 9216776)]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
728327,9216776,2019-12-30,f,$399.00,$399.00,5.0,45.0

---

## Combine the Calendar Datasets

In [34]:
# add column to record the original dataset before creating the new one
calendar_1_19['recorded_price_date'] = '2019-01'

In [35]:
# add column to record the original dataset before creating the new one
calendar['recorded_price_date'] = '2019-09'

In [36]:
# combine into new dataset
calendar = pd.concat([calendar_1_19, calendar])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [37]:
calendar.shape

(6637375, 9)

In [38]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [39]:
calendar_1_19['date'] = pd.to_datetime(calendar_1_19['date'])

In [40]:
# Look at describe stats
calendar.describe()

         listing_id  maximum_nights  minimum_nights    price_diff
count  6.637375e+06    6.637374e+06    6.637374e+06  3.354070e+06
mean   1.827577e+07    2.489244e+05    6.378063e+00  9.201895e-02
std    9.653769e+06    2.254456e+07    4.038322e+01  2.848840e+00
min    3.344000e+03    0.000000e+00    0.000000e+00 -4.300000e+02
25%    1.155569e+07    3.000000e+01    1.000000e+00  0.000000e+00
50%    1.713318e+07    1.122000e+03    2.000000e+00  0.000000e+00
75%    2.505026e+07    1.125000e+03    3.000000e+00  0.000000e+00
max    3.881766e+07    2.147484e+09    2.635000e+03  1.500000e+02

In [41]:
calendar.dtypes

adjusted_price                 object
available                      object
date                   datetime64[ns]
listing_id                      int64
maximum_nights                float64
minimum_nights                float64
price                          object
price_diff                    float64
recorded_price_date            object
dtype: object

In [42]:
# Look at info stats
calendar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6637375 entries, 0 to 3354069
Data columns (total 9 columns):
adjusted_price         object
available              object
date                   datetime64[ns]
listing_id             int64
maximum_nights         float64
minimum_nights         float64
price                  object
price_diff             float64
recorded_price_date    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 506.4+ MB

In [43]:
calendar.set_index('date', inplace=True)

In [44]:
calendar.sort_index(inplace=True)

In [45]:
calendar['source'] = 'Sep-19'
calendar.head()

,adjusted_price,available,listing_id,maximum_nights,minimum_nights,price,price_diff,recorded_price_date,source
date,,,,,,,,,
2019-01-17,$295.00,t,3362,365.0,2.0,$295.00,NaN,2019-01,Sep-19
2019-01-17,$36.00,t,21042708,28.0,2.0,$36.00,NaN,2019-01,Sep-19
2019-01-17,$110.00,t,648093,25.0,3.0,$110.00,NaN,2019-01,Sep-19
2019-01-17,$225.00,t,20299513,1125.0,2.0,$225.00,NaN,2019-01,Sep-19
2019-01-17,$156.00,f,20768166,1125.0,10.0,$156.00,NaN,2019-01,Sep-19

In [47]:
calendar.dtypes

adjusted_price          object
available               object
listing_id               int64
maximum_nights         float64
minimum_nights         float64
price                   object
price_diff             float64
recorded_price_date     object
source                  object
dtype: object

In [48]:
# convert price to numeric:

In [49]:
# trying to sort listing_id and price, but currently getting an error
# this shows average price per listing
# calendar[['price']].groupby(by=calendar['listing_id']).mean().sort_values('price').head()

---

## Notes on Next Steps

The following are ideas on things to look at for future iterations of this project:
* Look at how price has changed over time
* Average monthly price according to date
* Average price on each day of the week
* Availability over a year. (using availability and dates for calendar)
* Line graph of x of date and y of percentage of units available
* Could just use months for x and then color code line for each year
* Look at this article for ideas for additional steps:https://towardsdatascience.com/exploring-machine-learning-for-airbnb-listings-in-toronto-efdbdeba2644
* Run this:os.listdir('/Users/jessieowens2/Desktop/general_assembly/airbnb_data'). Then:
    * List comprehension of all the files I want that start with calendar
    * From above list (that the os command creates, give me every file name that starts with calendar, then with that list, pass into pd.concat
    * Then use dataframe.duplicated(subset of id and date (these are the things duplicated throughout))
    * If this is not working, use sep 2019, sep 2018, sep 2017

---